<div style="display:table;width: 100%;height: 100%;" data-role="root">
    <div style="background: #fafafa;padding-left:45px;display:table-row;height: 1%;">
        <div style="display:table-cell;padding-left: 45px;padding-right: 24px;">
            <table class="FixiGridHeader court-header" data-role="header"></table>
        </div>
    </div>
    <div style="display:table-row">
        <div style="display:table-cell">
            <div style="position:relative; height:100%;width:100%">
                <div class="fixiGridContentScroll" style="top:0;">
                    <svg shape-rendering="crispEdges" class="fixiGridContent" style="width:100%;" data-role="content"></svg>
                </div>
            </div>
        </div>
    </div>
</div>
