<style>
    #fixiGridElement { position: absolute; top: 50px; bottom: 10px; left: 10px; right: 10px; border: 1px solid #D2D2D2; }
</style>
<div>
    <button id="print">Print</button>
    <input id="businessDate" type="date" />

    <label for="allowResize" style="margin-left:20px">Allow resize of allocations</label>
    <input id="allowResize" name="allowResize" type="checkbox" checked="checked" />

    <div id="fixiGridElement"></div>
</div>
<script src="~/Scripts/fixigrid.js"></script>

